body:not(.contact--visible) .contact {
  visibility: hidden;
}
body.contact--visible .contact {
  visibility: visible;
}

.contact {

  &__headline {
    @include text('h4');
    display: none;
  }

}