@mixin i-am-not-clickable-but-my-children-are {
  pointer-events: none;

  &>* {
    pointer-events: initial;
  }
}

.floating-panel {
  & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 100vw;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: color("grey-500");
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header,
  &__content {
    @include container;
  }

  &__header {
    @include i-am-not-clickable-but-my-children-are;
    z-index: 1;
    padding-top: space('md');
    padding-bottom: space('md');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: color('grey-800');
  }

  &__header:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.25),
        color("transparent") 40%);
  }

  &__content {
    z-index: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: space('xl');
    padding-bottom: space('xl');
  }


  &__close-panel {
    @include typo('h4');
    display: inline-flex;
    position: relative;

    svg {
      --width: 1em;
      width: var(--width);
      margin-left: calc(-1 * 0.25 * var(--width));
    }

    &-text {
      font-size: 0.6em;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0px, -45%);
    }
  }

}