html,
body,
.home-grid__wrapper {
  width: 100%;
  height: 100%;
}

.home-grid__wrapper {
  display: grid;
}

.home-grid {
  &.home-grid--shrinked {
    width: min-content;
    height: min-content;
    margin: auto;

    & .home-grid__box {
      width: 10vw;
    }
  }

  &.home-grid--expanded {
    overflow: hidden;
  }

  .home-grid__box,
  .home-grid__box>* {
    visibility: hidden;
  }
}


.home-grid {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: space('xxs');

  &__box {
    & {
      padding: space('md');
      display: grid;
      align-content: end;
      gap: space('xs');
      @include typo("h4");
      line-height: 1;
      white-space: nowrap;
      // font-weight: 900;
    }

    &:nth-child(1) {
      // Jacopo Marrone
      // border: 5px green solid;
      grid-row: 1/3;
      grid-column: 6/7;
      background: none !important;

      >*:nth-child(1) {
        @include typo("h1");
        line-height: 1;
        white-space: initial;
        // font-weight: 900;
      }

      >*:nth-child(2) {
        @include typo("small");
        line-height: 1;
        white-space: initial;

        @include atLarge {
          @include typo("h5");
        }
      }
    }

    &:nth-child(2) {
      // Blog
      // border: 5px red solid;
      grid-row: 1/4;
      grid-column: 1/2;
    }

    &:nth-child(4) {
      // Contact Me
      // border: 5px yellow solid;
      grid-row: 1/3;
      grid-column: 3/6;
    }

    &:nth-child(3) {
      // Works
      // border: 5px blue solid;
      grid-row: 3/4;
      grid-column: 3/7;
    }

  }

}


.home-grid.home-grid--reorder-1 {
  .home-grid__box {
    &:nth-child(1) {
      // Jacopo Marrone
      // border: 5px green solid;
      grid-row: 1/3;
      grid-column: 3/7;

      @include atLarge {
        padding-left: 30vw;
      }

      @include atHuge {
        padding-left: 40vw;
      }
    }

    &:nth-child(2) {
      // Blog
      // border: 5px red solid;
      grid-row: 1/3;
      grid-column: 1/3;
    }

    &:nth-child(4) {
      // Contact Me
      // border: 5px yellow solid;
      grid-row: 3/4;
      grid-column: 1/3;
    }

    &:nth-child(3) {
      // Works
      // border: 5px blue solid;
      grid-row: 3/4;
      grid-column: 3/7;
    }
  }
}